.onOff{
  background: #dfe1e2;
  height: 30px;
  border-radius: 3px;
  border: none;
  cursor: pointer; 
  font-weight: 900;
  transition: 0.5s;
  color: #434f53;
  letter-spacing: 0.5px;  
}
.restart{
  background: #dfe1e2;
  height: 30px;
  border-radius: 3px;
  border: none;
  cursor: pointer; 
  font-weight: 900;
  transition: 0.5s;
  color: #434f53;
  letter-spacing: 0.5px; 
}
/*Start btn*/
.btn_btn{
  background: #dfe1e2;
  height: 30px;
  border-radius: 3px;
  border: none;
  cursor: pointer; 
  font-weight: 900;
  transition: 0.5s;
  color: #434f53;
  letter-spacing: 0.5px; 
}
/*Next*/
.btn{
  background: #dfe1e2;
  height: 30px;
  border-radius: 3px;
  border: none;
  cursor: pointer; 
  font-weight: 900;
  transition: 0.5s;
  color: #434f53;
  letter-spacing: 0.5px; 
}
/*True/false btn*/
.m-1{
  background: #dfe1e2;
  height: 30px;
  border-radius: 3px;
  border: none;
  cursor: pointer; 
  font-weight: 900;
  transition: 0.5s;
  color: #434f53;
  letter-spacing: 0.5px; 
}