.onOff{
  background: #dfe1e2;
  height: 30px;
  border-radius: 3px;
  border: none;
  cursor: pointer; 
  font-weight: 900;
  transition: 0.5s;
  color: #434f53;
  letter-spacing: 0.5px;  
}
.restart{
  background: #dfe1e2;
  height: 30px;
  border-radius: 3px;
  border: none;
  cursor: pointer; 
  font-weight: 900;
  transition: 0.5s;
  color: #434f53;
  letter-spacing: 0.5px; 
}
/*Start btn*/
.btn_btn{
  background: #dfe1e2;
  height: 30px;
  border-radius: 3px;
  border: 4px dotted black;
  cursor: pointer; 
  font-weight: 900;
  transition: 0.5s;
  color: hsl(30, 65%, 60%);
  text-shadow:1px 1px hsl(30, 45%, 50%);
  letter-spacing: 0.5px; 
}
/*Next*/
.btn{
  background: #dfe1e2;
  height: 30px;
  border-radius: 3px;
  border: 4px dotted black;
  cursor: pointer; 
  font-weight: 900;
  transition: 0.5s;
  color: hsl(30, 65%, 60%);
  text-shadow:1px 1px hsl(30, 45%, 50%);
  letter-spacing: 0.5px; 
}
/*True/false btn*/
.m-1{
  background: #dfe1e2;
  height: 30px;
  border-radius: 4px; 
  border: 4px dotted black;
  cursor: pointer; 
  font-weight: 900;
  transition: 0.5s;
  color: hsl(30, 65%, 60%);
  text-shadow:1px 1px hsl(30, 45%, 50%);
  letter-spacing: 0.5px; 
}
.h2{
  color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);

  border: 10px dotted black;
  padding: 5px;
  background: lightblue;
  background-clip: content-box;
}
